@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

section {
  margin: 7rem 0;
}

.colored {
  color: #6b8e23;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../banner.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.btn {
  background-color: #6b8e23;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
  padding: 1rem 2.5rem;
  border: 0;
  outline: 0;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
  text-decoration: none;
}

.btn:hover {
  background-color: #516b1b;
}

@media (max-width: 768px) {
  header nav .container {
    display: flex;
    flex-direction: column;
  }

  header nav .container ul {
    margin-top: 10px;
  }

  header .hero h1 {
    font-size: 2.5rem;
  }

  header .hero .btn {
    font-size: 1rem;
  }
}
