nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

nav .container ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

nav .logo {
  font-weight: bold;
  font-size: 1.2rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}
